<!DOCTYPE html>
	<html>
		<!-- head -->
		{% include head.html %}
		
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
							<li><a href="/project">Projects</a></li>
							<li><a href="/publication"> Publications</a></li>
	        		<li><a href="/blog">Blog</a></li>
							<li><a href="/study">StudyNotes</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li>Email: changjiangcai2020 AT Gmail </li>
	        		<li><a href="https://github.com/ccj5351">Github</a></li>
				</ul>
			</footer>

		<script id="dsq-count-scr" src="//changjiangcai.disqus.com/count.js" async></script>
		</body>
	</html>
